<h1>Tasks details</h1>

<ul>
  <li><strong>title:</strong> <%= @task.title %></li>
  <li><strong>Details:</strong> <%= @task.details %></li>
  <li><strong>Completed:</strong> <%= @task.completed %></li>
</ul>
